* {box-sizing: border-box; margin: 0; padding: 0;}

.container {height: 100%;}

/* LOGO */
.box-1 {height: 6vh; 
        width: 100vw;
        background-color:white;
        align-items: center;
        flex-grow: 1; 
        display: flex;
        padding-left: 5px;
        text-align: center;
        margin-top: 3px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
        color: white; 
        display: inline-block;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        justify-content: center;
    }

/* LOGO */
.box-1-1 {
    width: 99vw;
    margin-bottom: 3px;
    margin-right: 20px;
    border-right: 20px;
    background-color: royalblue;
}
 
/* MENÚ */
/* .box-1-2 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
color: white;
margin: 3px;
flex-grow: 1;} */

.nav {
background-color: royalblue;
width: 99vw;
list-style: none;
text-align: center;
}
    
.nav li {
font-size: 12px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: white;
padding-left: 15px;
padding-right: 10px;
}

/* BLOQUES */
.box-2-1 {background-color: white; 
    height: 20vh; 
    flex-wrap: wrap;
    display: flex; 
    justify-content: space-evenly; 
    justify-content: center;
    align-items: center;
    }

    .box {
        height: 6vh; 
        width:32vw; 
        max-width: 35vw;
        display: flex; 
        margin: 3px; 
        background-color:orange; 
        justify-content: space-evenly;

    }

        .box-2-1-1 {}
        .box-2-1-2 {}
        .box-2-1-3 {}
        .box-2-1-4 {}
        .box-2-1-5 {}
        .box-2-1-6 {}
        .box-2-1-7 {}
        .box-2-1-8 {}
        .box-2-1-9 {}

/* IMAGEN */
.box-2-2 {background-color: white;
        height: auto;
        flex-grow: 1; 
        display: flex; 
        justify-content: center; 
        align-items: center;}

    .image {height: auto; width: 100%; margin: 3px;}

/* FOOTER */
.box-3 {background-color: royalblue; 
        height: 36vh; 
        align-items: flex-end; 
        flex-grow: 1; 
        display: flex; 
        margin-top: 0px; 
        margin-left: 3px; 
        margin-right: 3px; 
        margin-bottom: 3px;}